<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Créer un ticket</title>
</head>
<body>

<section class="form-container-parent">
    <div class="form-container">
        <h1 class="text-center">Ajouter un ticket</h1>

        <form method="post" action="{{ url_for('web_ui.create_ticket') }}">
            <label for="title">Titre :</label>
            <input type="text" id="title" name="title" required>

            <label for="description">Description :</label>
            <textarea id="description" name="description" required></textarea>

            <label for="name">Nom :</label>
            <input type="text" id="name" name="name" required>

            <label for="status">Statut :</label>
            <select id="status" name="status">
                <option value="open">Ouvert</option>
                <option value="in progress">En cours</option>
                <option value="closed">Fermé</option>
            </select>

            <label for="priority">Priorité :</label>
            <select id="priority" name="priority">
                <option value="low">Basse</option>
                <option value="medium">Moyenne</option>
                <option value="high">Haute</option>
            </select>

            <button type="submit" class="form-button">Ajouter</button>
        </form>

        <a href="{{ url_for('web_ui.home') }}" class="form-button">Retour</a>
    </div>
</section>

</body>
</html>