<!-- AUTEUR : Younes AZIRGUI -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Consulter un ticket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!--<h1>Consulter un ticket</h1>  -->


    <!--  CONTAINER POUR CONSULTER LES INFOS D'UN TICKET  -->
{% if ticket %}
<div class="ticket-flex-container">

    <div class="ticket-info">
        <h2>Détails du ticket</h2>
        <p><strong>ID :</strong> {{ ticket.id }}</p>
        <p><strong>Titre :</strong> {{ ticket.title }}</p>
        <p><strong>Date :</strong> {{ ticket.date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
        <p><strong>Nom :</strong> {{ ticket.name }}</p>
        <p><strong>Département :</strong> {{ ticket.departement }}</p>
        <p><strong>Catégorie :</strong> {{ ticket.categorie }}</p>
        <p><strong>Assigné à :</strong> {{ ticket.assigne_a }}</p>
        <p><strong>Statut :</strong> {{ ticket.status }}</p>
        <p><strong>Priorité :</strong> {{ ticket.priority }}</p>
        <p><strong>Adresse e-mail de l'étudiant :<br></strong> {{ ticket.email }}</p>
        <p><strong>Pays de destination :</strong> {{ ticket.pays }}</p>
        <a href="{{ url_for('web_ui.getall_ticket') }}" class="form-button">Retour</a>
    </div>

 {% endif %}

    <!--  PARTIE POUR REPONDRE AU TICKET  -->
<!-- partie droite : réponse + historique -->
<div class="ticket-reponse-wrapper">
    <div class="ticket-reponse">
        <p><strong>Description :</strong> {{ ticket.description }}</p><br>
        <form action="{{ url_for('web_ui.repondre_ticket', ticket_id=ticket.id) }}" method="POST" class="form-reponse">
            <label for="reponse"><strong>Réponse :</strong></label><br>
            <textarea id="reponse" name="reponse" rows="5" placeholder="Écrire une réponse ici..." required></textarea><br><br>
            <button type="submit" class="form-button" style="cursor: pointer">Envoyer la réponse</button>
        </form>
    </div>

    {% if reponses %}
    <div class="historique-reponses" style="overflow-y:scroll">
        <h3>Historique des réponses</h3>
        {% for reponse in reponses %}
        <div class="reponse-item">
            <p><strong>Le {{ reponse.date.strftime('%d %B %Y à %H:%M') }} par {{ reponse.auteur_nom}}:</strong></p>
            <p>{{ reponse.contenu }}</p>
            <hr>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="historique-reponses">
        <p>Aucune réponse pour ce ticket pour le moment.</p>
    </div>
    {% endif %}
</div>



</div>
</body>
</html>
